@charset "utf-8";
@import url("reset.css");

/* 공통요소 */
.clearfix{*zoom:1}
.clearfix:after{display:block;clear:both;content:'';}
.text-hide{position:absolute;text-indent:-9999px;}


/* 레이아웃 */
	header{/* 헤더영역 */
		position:fixed;
		top:0;
		width:100%;
		height:66px;
		background-color:#FFF;
		border-bottom:3px solid #000;
		z-index:1000;
	}

	#mainbanr{/* slideJS 플러그인을 이용한 메인배너*/
		position:relative;
		height:440px;
		margin-top:69px;
		border:1px soild transparent;
		box-sizing:border-box;
	}

	aside{display:none;}/* 로그인 라이트박스 */
	
	footer{/* 푸터영역 */
		height:70px;
		padding-top:30px;
		background-color:#3b3b3b;
	}

	#mainsrv{/* 컨텐츠영역 - 주요서비스*/
		width:960px;
		margin:0 auto;
	}	
	
	
	
/*-------------------------------------------------------------------------------------------------------------------*/
/* 헤더영역 */
header>nav{	
	position:relative;
	width:960px;/* 960px 그리드 사용 */
	height:66px;
	margin:0 auto;	
}

header>nav>h1{
	position:absolute;
	left:0;
	top:22px;
	width:54px;
	text-indent:-9999px;
	background-image:url(../images/line-ci.png);
	background-repeat:no-repeat;
	background-size:cover;	
}

header>nav>h1>a{
	display:block;
	height:21px;
}


/* 메인메뉴 */
header>nav>.gnb{
	position:absolute;
	left:70px;
	top:28px;
}

header>nav>.gnb>li{
	float:left;
	padding:0 15px;
	border-right:1px solid #ccc;
}

header>nav>.gnb>li:last-child{
	border:none;
}

header>nav>.gnb>li>a{
	display:block;
	height:14px;
	color:#444;
	line-height:13px;
	text-decoration:none;
}

header>nav>.gnb>li.on>a{
	color:#00c402;
}



/* 언어선택 */
header>nav>.opt{
	position:absolute;
	right:90px;
	top:22px;
}

header>nav>.opt>.input_group{
	position:relative;
	width:140px;
	border:1px solid #dfdfdf;
	box-sizing:border-box;
}

header>nav>.opt>.input_group>input:hover{
	background-color:#eee;
}

header>nav>.opt>.input_group>input{
	width:100%;
	height:22px;
	font-size:12px;
	text-indent:10px;
	background:none;
	background-color:#FFF;
	border:0;
	outline:0;
	cursor:pointer;
}

header>nav>.opt>.input_group>span.arrow{
	display:block;
	overflow:hidden;
	position:absolute;
	right:5px;
	top:10px;
	width:0;
	height:0;
	border-width:4px;
	border-style:solid;
	border-color:#aaa transparent transparent transparent;
	text-indent:-9999px;
}

header>nav>.opt>.input_group>.langlist{
	display:none;
	position:absolute;
	right:-1px;
	top:24px;
	width:269px;
	background-color:#FFF;
	background-image:url(../images/line-sprite.png);
	border:1px solid #e4e4e4;
	box-sizing:border-box;
}
header>nav>.opt>.input_group>.langlist>li{
	float:left;
	width:128px;
	padding:8px 0 0px 10px;
	font-size:11px;
}

header>nav>.opt>.input_group>.langlist>li:nth-child(2n+1){
	width:118px;
	border-right:1px solid #e4e4e4;
}

header>nav>.opt>.input_group>.langlist>li>a{
	display:block;
	height:20px;
	line-height:20px;
	text-decoration:none;
}

header>nav>.opt>.input_group>.langlist>li.on>a{
	color:#00c402;
}

header>nav>.opt>.input_group>.langlist>li>a:hover{
	color:#00c402;
}


/* 유튜브, 페이스북 */
header>nav>.sns{
	position:absolute;
	right:0;
	top:26px;
}

header>nav>.sns>li{
	float:left;
	background-image:url(../images/line-sprite.png);
	background-repeat:no-repeat;
	text-indent:-9999px;	
}

header>nav>.sns>li:first-child{
	width:46px;
	background-position:-1042px 0;	
}

header>nav>.sns>li:last-child{
	width:10px;
	margin-left:15px;
	background-position:-802px 0;
}

header>nav>.sns>li>a{
	display:block;
	height:18px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* 푸터영역 */

footer>nav>.fnb{
	width:960px;
	margin:0 auto;
}

footer>nav>.fnb>li{
	float:left;
	border-right:1px solid #ACACAC;
}

footer>nav>.fnb>li:last-child{border:0;}

footer>nav>.fnb>li>a{
	display:block;
	height:14px;
	padding:0 15px;
	color:#ACACAC;
	font-size:11px;
	line-height:14px;
	text-decoration:none;
	text-align:center;	
}

footer>address{
	margin-top:10px;
	color:#ACACAC;
	font-weight:800;
	text-align:center;
}



/*-------------------------------------------------------------------------------------------------------------------*/

/* 로그인 라이트박스 */
aside>.shadow{	
	position:fixed; 
	top:0; 
	left:0;
	width:100%; 
	height:100%; 
	background-color:rgba(94, 110, 141, 0.5); 
	z-index:2000;
}
aside>.shadow>.login_form{
	position:fixed;
	left:50%; 
	top:50%;
	width:524px;
	height:382px;
	margin:-191px 0 0 -262px;
	background-image:url(../images/bg_login.png);
	background-repeat:no-repeat;
	background-position:0 0;
	z-index:3000;
}



aside>.shadow>.login_form>.logo{
	display:block;
	width:152px;
	height:57px;
	margin:40px auto;
	background-image:url(../images/line-ci.png);
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-size:cover;
}

aside>.shadow>.login_form>.clse{
	display:block;
	position:absolute;
	right:0;
	top:300px;
	width:80px;
	height:80px;
	text-indent:-9999px;
	cursor:pointer;
}

aside>.shadow>.login_form p{
	position:relative;
	width:378px;
	margin:0 auto 10px;
	border:1px solid #e6e8ea;
}

aside>.shadow>.login_form p>input{
	width:100%;
	height:48px;
	text-indent:10px;
	border:0;
	outline:0;
}

aside>.shadow>.login_form p>button.help{
	position:absolute;
	right:10px;
	top:14px;
	width:20px;
	height:20px;
	text-indent:-9999px;
	background:none;
	background-image:url(../images/login_sprite.png);
	background-repeat:no-repeat;
	background-position:-46px 0;
	border:0;
	outline:0;
	cursor:pointer;
}

aside>.shadow>.login_form p>.popup{
	display:none;
	position:absolute;
	left:170px;
	top:39px;
	width:226px;
	height:83px;
	background-color:#FFF;
	border:1px solid #c4c7ca;
	z-index:300;
}

aside>.shadow>.login_form p>.popup .guide{
	display:block;
	width:172px;
	height:38px;
	margin:30px auto 0;
}
	
	
aside>.shadow>.login_form p>.popup .arrow{
	display:block;
	overflow:hidden;
	position:absolute;
	right:33px;
	top:-7px;
	width:12px;
	height:7px;
	background-color:#FFF;
	background-image:url(../images/login_sprite.png);
	background-repeat:no-repeat;
	background-position:-4px 0;
	text-indent:-9999px;	
}

aside>.shadow>.login_form p>.popup .close{
	display:block;
	overflow:hidden;
	position:absolute;
	right:10px;
	top:10px;
	width:13px;
	height:13px;
	background-image:url(../images/login_sprite.png);
	background-repeat:no-repeat;
	background-position:-16px 0;
	text-indent:-9999px;
	cursor:pointer;
}


aside>.shadow>.login_form p>button.btn_login{
	width:100%;
	height:48px;
	color:#fff;
	font-weight:800;
	font-size:20px;
	background-color:#B3B6C9;
	border:0;
	outline:0;
}

aside>.shadow>.login_form p>button.btn_login.on{
	background-color:#37c65c;
	cursor:pointer;
}



/*-------------------------------------------------------------------------------------------------------------------*/

/* slideJS 플러그인을 이용한 메인배너*/
#mainbanr>.slidesjs-container p{
	height:440px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	text-indent:-9999px;
}

#mainbanr>.slidesjs-container p:first-child{
	background-image:url(../images/mainbanr01.jpg);
}

#mainbanr>.slidesjs-container p:nth-child(2){
	background-image:url(../images/mainbanr02.jpg);
}

#mainbanr>.slidesjs-container p:nth-child(3){
	background-image:url(../images/mainbanr03.jpg);
}

#mainbanr>.slidesjs-container p:nth-child(4){
	background-image:url(../images/mainbanr04.jpg);
}

#mainbanr>.slidesjs-container p:last-child{
	background-image:url(../images/mainbanr05.jpg);
}

#mainbanr>.slidesjs-container p>a{
	display:block;
	position:absolute;	
	cursor:pointer;
}

#mainbanr>.slidesjs-container p:first-child>a{
	left:50%;/*중앙을 기준으로 ml을 적용해야 브라우저 가로폭이 변해도 항상 링크영역이 유지된다. */
	top:278px;
	width:90px;
	height:30px;	
	margin-left:-480px;
}

#mainbanr>.slidesjs-container p:nth-child(2)>a.android{
	left:50%;
	top:320px;
	width:108px;
	height:31px;	
	margin-left:-480px;
}

#mainbanr>.slidesjs-container p:nth-child(2)>a.ios{
	left:50%;
	top:320px;
	width:70px;
	height:31px;
	margin-left:-360px;	
}

#mainbanr>.slidesjs-container p:nth-child(3)>a{
	left:50%;
	top:303px;
	width:130px;
	height:37px;
	margin-left:-480px;	
}

#mainbanr>.slidesjs-container p:nth-child(4)>a.android{
	left:50%;
	top:312px;
	width:100px;
	height:31px;	
	margin-left:-480px;
}

#mainbanr>.slidesjs-container p:nth-child(4)>a.ios{
	left:50%;
	top:312px;
	width:100px;
	height:31px;	
	margin-left:-360px;
}

#mainbanr>.slidesjs-container p:last-child>a{
	left:50%;
	top:300px;
	width:85px;
	height:30px;	
	margin-left:-480px;
}


/* 인디케이터 */
#mainbanr>.slidesjs-pagination{
	position:absolute; 
	left:50%; 
	top:410px; 
	margin-left:-72px; 
	*zoom:1; 
	z-index:100; 
}

#mainbanr>.slidesjs-pagination:after{display:block;clear:both;content:'';} 

#mainbanr>.slidesjs-pagination>li{
	float:left; 
	margin-right:20px; 
}

#mainbanr>.slidesjs-pagination>li>a{
	display:block; 
	width:13px; 
	height:13px; 
	text-indent:-9999px;
	background-image:url(../images/line-sprite.png); 
	background-repeat:no-repeat; 	
	background-position:-872px 0;
}

#mainbanr>.slidesjs-pagination>li>a.active{background-position:-858px 0;} 

/* 이전/다음 네비게이션 */
#mainbanr>.slidesjs-navigation{
	display:block; 
	position:absolute;	 
	text-indent:-9999px; 	
	background-repeat:no-repeat; 		
}

#mainbanr>.slidesjs-previous, 
#mainbanr>.slidesjs-next{			
	top:160px; 
	width:80px;
	height:100px;
	background-image:url(../images/btn_navigation.png);
	z-index:100; 		
}

#mainbanr>.slidesjs-previous{
	left:0; 
	background-position:0 -200px; 
}

#mainbanr>.slidesjs-previous:hover{
	left:0; 
	background-position:0 -300px; 
}

#mainbanr>.slidesjs-next{
	right:0; 
	background-position:0 0; 
}

#mainbanr>.slidesjs-next:hover{
	right:0;
	background-position:0 -100px; 
}


/*-------------------------------------------------------------------------------------------------------------------*/
/* 컨텐츠영역 - 주요서비스*/
#mainsrv>article{
	position:relative;
	margin-top:100px;
	box-sizing:border-box;
}

#mainsrv>article .frame{
	float:left;
	width:450px;
	height:556px;
}

#mainsrv img{width:100%;}

#mainsrv>article .explain{
	float:left;
	width:450px;
}

#mainsrv>article h3{
	margin-top:50px;
	color:#444;
	font-weight:400;
	font-size:54px;
	line-height:62px;
}

#mainsrv>article p{padding-left:5px;	}

/*언제 어디서나 무료 메시지*/
#mainsrv>article.line_msg>.explain{
	margin-left:55px;	
}

#mainsrv>article.line_msg>.explain>p{
	margin-top:20px;
	font-size:14px;
	line-height:25px;
}


/*무료 영상/음성 통화*/
#mainsrv>article.line_tel>.explain>p{
	margin-top:20px;
	font-size:14px;
	line-height:25px;
}

#mainsrv>article.line_tel>.explain>p>span{
	display:block;
	margin-top:20px;
}



/*대화가 더욱 즐거워지는 LINE 스티커*/
#mainsrv>article.line_sticker>.frame{
	width:598px;
	height:730px;
	margin:0 50px 0 -150px;
}

#mainsrv>article.line_sticker>.explain{
	margin-top:70px;
}

#mainsrv>article.line_sticker>.explain>p{/*사진/동영상 공유에서 음성 메시지까지*/
	margin-top:20px;
	font-size:14px;
	line-height:25px;
}

#mainsrv>article.line_sticker>.explain>p>span{
	display:block;
	margin-top:20px;
}


/*사진/동영상 공유에서 음성 메시지까지*/
#mainsrv>article.line_share>.explain>p{
	margin-top:20px;
	font-size:14px;
	line-height:25px;
}


#mainsrv>article.line_share>.explain>p{
	margin-top:20px;
	font-size:14px;
	line-height:25px;
}


/*인기 아티스트,브랜드의 최신소식과 쿠폰을 받아보세요.*/
#mainsrv>article.line_coopon>.explain{
	margin-left:55px;	
}

#mainsrv>article.line_coopon>.explain>p{
	margin-top:20px;
	font-size:14px;
	line-height:25px;
}


/*타임라인, Keep, 간편한 친구맺기*/
#mainsrv>article.line_friends{
	padding-bottom:100px;
}
#mainsrv>article.line_friends>ul>li{
	float:left;
	width:300px;
	margin-right:30px;
}

#mainsrv>article.line_friends>ul>li:last-child{
	margin-right:0;
}

#mainsrv>article.line_friends>ul>li span.tit{
	display:block;
	margin:10px 0;
	font-weight:800;
}

#mainsrv>article.line_friends>ul>li span.txt{
	line-height:20px;
}

#mainsrv .line_friends span.img{
	display:block;
	width:160px;
	height:284px;
}