@@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Roboto", Arial, serif;
  line-height: 1.8;
  font-size: 20px;
  font-weight: 300;
}

a {
  color: #F03861;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
  color: #F03861;
}
a:focus, a:active {
  outline: none;
}

p, span {
  margin-bottom: 1.5em;
  font-size: 20px;
  color: #727272;
  font-weight: 300;
  font-family: "Roboto", Arial, serif;
}

span {
  font-size: 18px;
  color: rgba(114, 114, 114, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", Arial, serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #f56f8d;
}

::-moz-selection {
  color: #fcfcfc;
  background: #f56f8d;
}

::selection {
  color: #fcfcfc;
  background: #f56f8d;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #F03861;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #F03861;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.heading-section {
  margin-bottom: 5em;
}
.heading-section h2 {
  position: relative;
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}
.heading-section h2:before {
  position: absolute;
  content: '';
  top: -15px;
  left: 50%;
  margin-left: -15px;
  width: 20px;
  height: 3px;
  background: #F03861;
}

header, #fh5co-intro-section, #fh5co-services-section, #fh5co-featured-work-section,
#fh5co-common-section, #fh5co-blog-section, #footer, #fh5co-contact-section,
#fh5co-work-section {
  padding-bottom: 5em;
}

header {
  padding-top: 3em;
}
header .fh5co-navbar-brand {
  padding-bottom: 3em;
}
header .fh5co-navbar-brand .fh5co-logo {
  position: relative;
  font-size: 50px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
header .fh5co-navbar-brand .fh5co-logo:after {
  position: absolute;
  bottom: 13px;
  right: -14px;
  width: 12px;
  height: 12px;
  background: #F03861;
  content: '';
}
header .fh5co-navbar-brand .fh5co-logo:hover {
  text-decoration: none;
}
header #fh5co-main-nav > ul {
  padding: 0;
  margin: 0;
}
header #fh5co-main-nav > ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  header #fh5co-main-nav > ul li {
    display: block;
    margin-left: 0;
    margin-bottom: 15px;
  }
}
header #fh5co-main-nav > ul li a {
  padding-bottom: 5px;
  color: #000;
  position: relative;
  font-weight: 400;
}
header #fh5co-main-nav > ul li a.active:before {
  position: absolute;
  width: 7px;
  height: 7px;
  content: '';
  top: -5px;
  right: -7px;
  background: #F03861;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
header #fh5co-main-nav > ul li a:hover, header #fh5co-main-nav > ul li a:focus {
  text-decoration: none;
  color: #000;
}
header #fh5co-main-nav > ul li:first-child {
  margin-left: 0;
}

#fh5co-intro-section h2 {
  font-size: 40px;
  line-height: 1.5em;
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  #fh5co-intro-section h2 {
    font-size: 30px;
  }
}

.owl-carousel {
  margin-bottom: 5em;
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 40px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 40px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #000;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  font-size: 50px;
  color: #fff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

.owl-carousel .owl-controls .owl-nav .owl-next i,
.owl-carousel .owl-controls .owl-nav .owl-prev i {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.3);
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel .owl-controls .owl-nav .owl-prev:hover i {
  color: rgba(0, 0, 0, 0.6);
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel .owl-dots {
  display: none !important;
}
@media screen and (max-width: 992px) {
  .owl-carousel .owl-dots {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: 40px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}

.item {
  position: relative;
}
.item .pop-up-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(240, 56, 97, 0.8);
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.item .pop-up-overlay.pop-up-overlay-color-2 {
  background: rgba(248, 125, 9, 0.8) !important;
}
.item .pop-up-overlay.pop-up-overlay-color-3 {
  background: rgba(23, 231, 164, 0.8) !important;
}
.item .pop-up-overlay.pop-up-overlay-color-4 {
  background: rgba(249, 197, 53, 0.8) !important;
}
.item .pop-up-overlay .desc {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: -60px;
  padding: 30px;
}
.item .pop-up-overlay .desc h3 {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}
.item .pop-up-overlay .desc span {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}
.item .pop-up-overlay:hover, .item .pop-up-overlay:focus {
  text-decoration: none;
}
.item:hover .pop-up-overlay, .item:focus .pop-up-overlay {
  opacity: 1;
}

.services-num {
  position: relative;
}
.services-num .number-holder {
  position: absolute;
  font-size: 100px;
  font-weight: 700;
  top: 0;
  left: 15px;
  line-height: 100px;
  color: #000;
}
.services-num .desc {
  padding-left: 140px;
}
.services-num .desc h3 {
  font-weight: 300;
  line-height: 26px;
  font-size: 24px;
  margin-bottom: 8px;
}
.services-num.services-num-text-right {
  text-align: right;
}
.services-num.services-num-text-right .number-holder {
  right: 15px;
}
.services-num.services-num-text-right .desc {
  padding-left: 0;
  padding-right: 140px;
}
@media screen and (max-width: 768px) {
  .services-num.services-num-text-right {
    text-align: left;
  }
  .services-num.services-num-text-right .number-holder {
    right: 0;
    left: 15px;
  }
  .services-num.services-num-text-right .desc {
    padding-left: 140px;
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .services-num.services-num-text-right .desc {
    padding-left: 80px;
  }
}
@media screen and (max-width: 480px) {
  .services-num .number-holder {
    font-size: 50px;
  }
  .services-num .desc {
    padding-left: 80px;
  }
}

.fh5co-table,
.fh5co-table-cell,
.fh5co-hero,
.fh5co-parallax {
  height: 500px;
}

.fh5co-hero, .fh5co-parallax {
  background-color: #555;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  margin-bottom: 7em;
}
.fh5co-hero .overlay, .fh5co-parallax .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: .2;
}

@media screen and (max-width: 768px) {
  .fh5co-hero, .fh5co-parallax {
    height: inherit;
    padding: 4em 0;
  }
}
.fh5co-hero .fh5co-intro h1, .fh5co-parallax .fh5co-intro h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 300;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-hero .fh5co-intro h1, .fh5co-parallax .fh5co-intro h1 {
    font-size: 30px;
  }
}
.fh5co-hero .fh5co-intro p, .fh5co-parallax .fh5co-intro p {
  color: #fff;
}
.fh5co-hero .fh5co-intro p a, .fh5co-parallax .fh5co-intro p a {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.fh5co-hero .fh5co-intro p a:hover, .fh5co-parallax .fh5co-intro p a:hover {
  color: #fff;
}

.fh5co-table {
  display: table;
}

.fh5co-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.services-grid {
  margin-bottom: 50px;
}
.services-grid i {
  font-size: 60px;
  display: block;
  margin-bottom: 30px;
  color: #F03861;
}

.fhco-hero2 {
  margin-bottom: 40px;
}
.fhco-hero2 img {
  margin-top: -50px;
}
@media screen and (max-width: 992px) {
  .fhco-hero2 {
    display: none;
  }
}

.fh5co-services {
  position: relative;
  margin-bottom: 40px;
}
.fh5co-services .holder-section {
  padding-left: 100px;
}
.fh5co-services .holder-section h3 {
  margin-bottom: 8px;
  font-weight: 400;
  font-weight: 20px;
}
.fh5co-services .fh5co-table2 {
  display: table;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background: #F03861;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-services .fh5co-table-cell2 {
  display: table-cell;
  vertical-align: middle;
}
.fh5co-services .fh5co-table-cell2 i {
  display: block;
  color: #fff;
  font-size: 32px;
}

.fh5co-services-right {
  margin-bottom: 40px;
  position: relative;
  text-align: right;
}
.fh5co-services-right .holder-section {
  padding-right: 100px;
}
.fh5co-services-right .holder-section h3 {
  margin-bottom: 8px;
  font-weight: 400;
  font-weight: 20px;
}
.fh5co-services-right .fh5co-table2 {
  display: table;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  background: #F03861;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-services-right .fh5co-table-cell2 {
  display: table-cell;
  vertical-align: middle;
}
.fh5co-services-right .fh5co-table-cell2 i {
  display: block;
  color: #fff;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .fh5co-services-right {
    margin-bottom: 0;
    text-align: left;
  }
  .fh5co-services-right .holder-section {
    padding-right: 0;
    padding-left: 100px;
  }
  .fh5co-services-right .fh5co-table2 {
    left: 0;
  }
}

.fh5co-table2-color-2 {
  background: #F87D09 !important;
}

.fh5co-table2-color-3 {
  background: #17E7A4 !important;
}

.fh5co-table2-color-4 {
  background: #F9C535 !important;
}

.fh5co-table2-color-5 {
  background: #51DACF !important;
}

.fh5co-table2-color-6 {
  background: #FF7676 !important;
}

@media screen and (max-width: 992px) {
  .blog-section {
    margin-bottom: 80px;
  }
}
.blog-section span {
  display: block;
  font-size: 80px;
  color: #000;
  line-height: 0;
  margin-bottom: 60px;
  font-weight: 700;
  position: relative;
}
.blog-section span small {
  position: absolute;
  top: 0;
  font-size: 16px;
  color: rgba(114, 114, 114, 0.8);
  font-weight: 300;
  line-height: 0;
  margin-left: 20px;
}
.blog-section h3 {
  margin-bottom: 10px;
}
.blog-section h3 a {
  color: #000;
}

.fh5co-grid-work {
  margin-bottom: 60px;
}
.fh5co-grid-work .work-holder {
  position: relative;
  margin-bottom: 30px;
}
.fh5co-grid-work .work-holder img {
  max-width: 100%;
}
.fh5co-grid-work .work-holder .inner-overlay {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(240, 56, 97, 0.9);
  opacity: 0;
}
.fh5co-grid-work .work-holder .inner-overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  color: #fff;
  font-size: 30px;
}
.fh5co-grid-work .work-holder .inner-overlay.inner-overlay-2 {
  background: rgba(248, 125, 9, 0.9);
}
.fh5co-grid-work .work-holder .inner-overlay.inner-overlay-3 {
  background: rgba(23, 231, 164, 0.9);
}
.fh5co-grid-work .work-holder .inner-overlay.inner-overlay-4 {
  background: rgba(249, 197, 53, 0.9);
}
.fh5co-grid-work .work-holder .inner-overlay.inner-overlay-4 {
  background: rgba(81, 218, 207, 0.9);
}
.fh5co-grid-work .work-holder .inner-overlay.inner-overlay-5 {
  background: rgba(255, 118, 118, 0.9);
}
.fh5co-grid-work .desc h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.fh5co-grid-work .desc h3 a {
  color: #000;
}
.fh5co-grid-work .desc span {
  color: rgba(114, 114, 114, 0.5);
  font-size: 16px;
}
.fh5co-grid-work:hover .inner-overlay, .fh5co-grid-work:focus .inner-overlay {
  opacity: 1;
}

.about {
  padding-bottom: 5em;
}
.about img {
  margin-bottom: 50px;
}
.about .team-section-grid {
  position: relative;
  background-size: cover;
  height: 450px;
  margin-bottom: 30px;
}
.about .team-section-grid .overlay-section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.about .team-section-grid .overlay-section h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 24px;
}
.about .team-section-grid .overlay-section p {
  color: rgba(255, 255, 255, 0.8);
}
.about .team-section-grid .overlay-section p.fh5co-social-icons a:hover, .about .team-section-grid .overlay-section p.fh5co-social-icons a:focus {
  text-decoration: none !important;
}
.about .team-section-grid .overlay-section p.fh5co-social-icons i {
  font-size: 32px;
}
.about .team-section-grid .overlay-section span {
  color: #fff;
  display: block;
}
.about .team-section-grid .overlay-section .desc {
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 30px;
}
.about .team-section-grid:hover .overlay-section {
  opacity: 1;
}
.about .fh5co-social-icons a {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.about .fh5co-social-icons a:hover {
  color: white;
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: #F03861;
}
.contact-info li a {
  color: #F03861;
}

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.form-control:focus, .form-control:active {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

input[type="text"] {
  height: 50px;
}

.form-group {
  margin-bottom: 30px;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 5em;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

#footer p {
  font-size: 16px;
}
#footer p:last-child {
  margin-bottom: 0;
}
#footer p.fh5co-social-icons a:hover, #footer p.fh5co-social-icons a:focus {
  text-decoration: none !important;
}
#footer p.fh5co-social-icons i {
  font-size: 32px;
}

.js .animate-box {
  opacity: 0;
}
