@@charset "UTF-8";

/* 공통 CSS */

/* all */
.clearfix{*zoom:1}
.clearfix:after{display:block;clear:both;content:'';}
.text-hide{text-indent:-9999px;}
*{font-size:12px;line-height:18px;box-sizing:border-box;}
button {width:300px;border-radius:50px;background-color:#e70012;color:#fff;border:none;height:30px;outline:none;display:block;margin-top:20px;cursor:pointer;}
.container{width:960px;margin: 0 auto;}

/* sub_header */
.sub_header .sub_tit {padding:14px 0;border-bottom:1px solid #cdcdcd;}
.sub_header .sub_tit h2{display:inline-block;margin-right:20px;color:#e70618;font-size: 15px;font-weight:800;}
.sub_header .sub_tit h3{display:inline-block;color: #efefef;font-size:10px;font-weight:800;}
.sub_header p {margin-bottom:30px;}
.sub_header > h3 {padding:30px 0;color:cdcdcd; font-size: 30px;}

/* bg_area */
.bg_area{width:100%;height:250px;margin-bottom: 20px;background-repeat: no-repeat;background-size:cover;background-position:center center;}
.corporate {background-image:url(../images/company/company_bg.png);}
.b747{background-image:url(../images/bg/sub_b747.png)}
/* strapline */
.strapline{padding: 10px 0;}
.strapline_tit strong{padding:20px;height:70px;float:left;width:240px;color:#e70618;font-size:15px;line-height:20px;}
.strapline_tit {border-top:1px solid #cdcdcd;}
.strapline_tit dd{padding:20px;float:left;width:75%;border-left: 1px solid #cdcdcd}
.strapline_tit dd p{margin-bottom:14px;}


/* chart */

/* chart/2 */
.chart_2 {width:960px;margin: 0 auto;margin-bottom:80px;}
.chart_2 dl dt {float:left;width:25%;padding:20px;border-top:1px solid #cdcdcd;}
.chart_2 dl dd {float:left;width:75%;padding:20px;border-top:1px solid #cdcdcd;}
.chart_2 dl dt{border-right: 1px solid #cdcdcd;}
.chart_2 dd p{margin-bottom:14px;}
.chart_2 dl dt:nth-child(1){height:200px;}
.chart_2 dl dd:nth-child(2){height:200px;}



/* chart/3 */
/* ----------- aircraft_information ------------ */
.chart_3 {width:960px;margin: 0 auto;margin-bottom:80px;}
.chart_3 span{width:300px;height:150px;display:block;background-size:300px 1329px;background-image:url("../images/bg/Aircraft-Information_bg_off.png");background-repeat:no-repeat;transition:all .5s}
.chart_3 dl dd:nth-child(3) span{background-position:0px -10px;}
.chart_3 dl dd:nth-child(6) span{background-position:0px -180px;}
.chart_3 dl dd:nth-child(9) span{background-position:0px -350px;}
.chart_3 dl dd:nth-child(12) span{background-position:0px -510px;}
.chart_3 dl dd:nth-child(15) span{background-position:0px -680px;}
.chart_3 dl dd:nth-child(18) span{background-position:0px -1020px;}
.chart_3_2 dl dd:nth-child(3) span{background-position:0px -1180px;}
.chart_3 span:hover{background-image:url("../images/bg/Aircraft-Information_bg_on.png");}


.chart_3 dl{width: 960px;margin: 0 auto;}
.chart_3 dl dt,.chart_3 dl dd{float: left;height: 150px;padding: 20px;box-sizing:border-box;border-top: 1px solid #cdcdcd;}
.chart_3 dl dt{width: 25%;border-right: 1px solid #cdcdcd;}
.chart_3 dl dd{width: 37.5%;}
.chart_3 dl dd:nth-child(2){border-right: 1px solid #cdcdcd;}
.chart_3 dl dd:nth-child(5){border-right: 1px solid #cdcdcd;}
.chart_3 dl dd:nth-child(8){border-right: 1px solid #cdcdcd;}
.chart_3 dl dd:nth-child(11){border-right: 1px solid #cdcdcd;}
.chart_3 dl dd:nth-child(14){border-right: 1px solid #cdcdcd;}
.chart_3 dl dd:nth-child(17){border-right: 1px solid #cdcdcd;}
.chart_3 dl dd:nth-child(4){border-right: none;}

/* chart/4 */
.chart_4 {width:960px;margin: 0 auto;margin-bottom:80px;}
.chart_4 dl dt,.chart_4 dl dd{float:left;width:25%;padding:20px;border-top:1px solid #cdcdcd;}
.chart_4 dl dt, .chart_4 dl dd{border-right: 1px solid #cdcdcd;}
.chart_4 dl dd:nth-child(4n){border-right: none;}

/* 높이별 chart */
.chart_80 dl dt,.chart_80 dl dd{height:80px;}
.chart_120 dl dt,.chart_120 dl dd{height:120px;}





/* main */






/* ----------- corporate_Philosophy ------------ */
/* vision */

.vision {position: relative;width:960px;height:300px;margin:0px auto;}
.vision_img{position:absolute;top:50%;margin-top: -95px;left:0;width:100%;}
.circle{width:180px;height:180px}
.circle_wrap{display:block;width:900px;margin:0 auto;}
.circle_wrap ul li:nth-child(2){background-image:url(../images/company/vision.png);background-size:cover;}
.circle_wrap span{position:absolute;top:30px;display:block;width:120px;height:120px;;margin:auto;float:left;border-radius:100%;border:1px solid #cdcdcd}

.circle_wrap li {font-size:14px;text-align:center;line-height:190px;font-weight: 600;position:relative;float:left;width:190px;height:190px;border-radius:100%;border:1px solid #252525;}
.circle_wrap li:first-child{float:left}
.circle_wrap li:nth-child(2){position:absolute;top:0;left:50%;margin-left:-95px;}
.circle_wrap li:last-child{float:right;margin-right:0;}

.circle_box_1 {position:absolute;left:192px}
.circle_box_2 {position:absolute;right:192px}
.circle_box_1 span.circle1{position:absolute;left:100px;}
.circle_box_2 span.circle2{position:absolute;right:100px;}
.circle_box_1 span.circle2{position:absolute;left:0;}
.circle_box_2 span.circle1{position:absolute;right:0;}






/* ----------- aircraft_bg ------------ */
/* model_size */
.model_size{width:960px;margin: 0 auto;padding:60px 0;}
.model_size span {display:inline-block;text-indent:-9999px;background-image: url(../images/bg/air_none.png);background-repeat:no-repeat;background-size:contain;background-position:center center;width:130px;height:130px;}
.model_size span:nth-child(1) {background-size:70%}
.model_size span:nth-child(2) {background-size:80%}
.model_size span:nth-child(3) {background-size:90%}
.model_size span:nth-child(4) {background-size:100%}
.model_size span:nth-child(5) {background-image:url(../images/bg/air_select.png);background-size:110%}
.model_size span:nth-child(6) {background-size:115%}
.model_size span:nth-child(7) {background-size:120%}


/* model_detail */
.model_detail {display:block;width:960px;height:300px;background-image: url(../images/bg/b747_detail.png);background-repeat: no-repeat;
background-size: contain;background-position: center center;}







/* ----------- reservation ------------ */
/* reservations_icon */
.guide_area{width:100%;margin-bottom:20px;background-color:#f8f8f8}



.reservations_icon>ul{width:960px;margin: 0 auto;}
.icon{box-sizing:border-box;padding:40px 0 0 0;}
.icon li{background-size:50%;background-repeat:no-repeat;background-position:center center ;text-align:center;float:left;width:192px;height:120px;position:relative;}
.icon span{background-repeat:no-repeat;width:55px;height:54px;display:block;background-image:url(../images/icon.png);background-size:400px 500px;margin:auto;margin-bottom: 10px;}
.icon li a{width:100%;height:100%;display:block;font-size:11px;color:#cdcdcd;margin:auto;}
.gu_icon1{background-position:-123px -23px;background-image:url(../images/icon_hover.png)!important;}
.icon li:first-child a{color:#e70012}
.gu_icon2{background-position:-123px -123px;}
.gu_icon3{background-position:-223px -23px;}
.gu_icon4{background-position:-223px -123px;}
.gu_icon5{background-position:-123px -323px;}
/* reservations_form */



.btn_area{margin: 50px 0 0 30px;}
.btn_area p{font-weight: 800;font-size: 15px;}
.btn_area button{display: inline-block;width: 100px;margin: 15px 15px 0 0 ;background-color: #c5c5c5;cursor:pointer;}
.btn_area button.on{background-color: #e70012;}
.reservations_form>.form_group{position: relative;height: 280px;margin-top: 20px;}
.reservations_form>.form_group>p{position: absolute;left: 30px;bottom: 10px;padding: 10px 0;color: #dedede;}
.reservations_form>.form_group>div>span{display: block;margin-top: 5px;color: #dedede;font-size: 8px;}
.reservations_form>.form_group>div>label{margin-bottom: 10px;font-weight: 800;}
.reservations_form>.form_group>div>input{width: 420px;height: 20px;text-indent: 10px;}
.reservations_form>.form_group>.sub_select{position: relative;}
.reservations_form>.form_group>.sub_select .arrow{position: absolute;right: 10px;top: 35px;width: 0;height: 0;text-indent: -9999px;border-color: red transparent transparent transparent;border-style:solid;border-width:5px;}
.reservations_form>.form_group>.sub_select .sub_select_list {display: none;position: absolute;top: 28px;width: 100%;background-color: #fff;border: 1px solid #cdcdcd;border-radius: 14px;z-index: 100;}
.reservations_form>.form_group>.sub_select .sub_select_list li a{display: block;width: 100%;height: 30px;line-height: 30px;text-indent: 10px;}
.reservations_form>.form_group>.sub_select .sub_select_list li a:hover{background-color: #e70012;color: #fff;}
.reservations_form>.form_group>.sub_select .sub_select_list li:first-child a:hover{border-radius:13px 13px 0 0  ;}
.reservations_form>.form_group>.sub_select .sub_select_list li:last-child a:hover{border-radius:0 0 13px 13px;}
.reservations_form>.form_group>div.form_g5>input,
.reservations_form>.form_group>div.form_g6>input,
.reservations_form>.form_group>div.form_g7>input{width: 200px;}
.reservations_form>.form_group>div.form_g1{position: absolute;left: 30px;}
.reservations_form>.form_group>div.form_g2{position: absolute;right: 30px;}
.reservations_form>.form_group>div.form_g3{position: absolute;left: 30px;top: 70px;}
.reservations_form>.form_group>div.form_g4{position: absolute;right: 30px;top: 70px;}
.reservations_form>.form_group>div.form_g5{display: inline-block;margin: 150px 20px 0 30px;}
.reservations_form>.form_group>div.form_g6{display: inline-block;margin-right: 30px;}
.reservations_form>.form_group>div.form_g7{display: inline-block;}
.reservations_form>.form_group div label{display: block;}
.reservations_form>.form_group div input{background-color:transparent;border:1px solid #cdcdcd;border-radius: 50px;outline:0;height:30px;}

/* .opt_wrap */
.opt{margin-bottom:50px;}
.opt_wrap{margin:20px 0;}
.opt_wrap>button{width: 100%;height: 40px;}
.opt_wrap>.button_2{background-color:#c5c5c5;color:#fff;cursor:pointer;}
.opt_wrap>.opt>form label{margin: 0 30px;}
.opt_wrap>.opt>form p{display: inline-block;margin: 0 30px;}
.opt_wrap>.opt>form input{margin-left: 10px;}
.opt_wrap>.opt>.class_form{margin-bottom: 20px;}
.opt_wrap>.opt>.class_form input{margin-left: 42px;}
.opt_wrap>.opt>form label p{margin:0px 0 0 0;}


input[type="radio"]{display:none;}

input[type="radio"]+label:before{content:'';width:10px;height:10px;border: 1px solid #cdcdcd;display:inline-block;border-radius:100%;margin-right:10px;vertical-align:middle;margin-bottom:2px;}

input[type="radio"]:checked+label:before{background-color:#e70012;border:none;border:1px solid #e70012;}



/*footer*/

footer{background-color:#f8f8f8;margin-top:80px;}
footer .container{padding:50px 0;}
footer .site_map {float:right;}
footer .site_map li{border-left:1px solid #cdcdcd;padding-left:30px;font-size: 11px;float:left;margin-right:30px;}
footer .site_map li a{font-size: 11px;}
footer address {float:left;font-size: 11px;opacity:.5;margin-right:40px;}
footer .chart_footer {width:960px;margin: 0 auto;margin-bottom:40px;}
footer .chart_footer dl dt,.chart_footer dl dd{font-size:11px;float:left;padding:4px;opacity:.5}
