@@charset "UTF-8";
.clearfix{*zoom:1}
.clearfix:after{display:block;clear:both;content:'';}
.text-hide{text-indent:-9999px;}
*{box-sizing:border-box}
.hidden{text-indent:-9999px;}

.container{width:960px;margin:0 auto;}

button {width:400px;border-radius:50px;background-color:#e70012;color:#fff;border:none;height:40px;outline:none;}

.input_group input {width:400px;height:30px;border-radius:50px;background-color:transparent;border:1px solid #cdcdcd;}
.input_group_3 input {width:190px;height:30px;border-radius:50px;background-color:transparent;border:1px solid #cdcdcd;}
.input_group_4 input {float:left !important;width:190px;height:30px;border-radius:50px;background-color:transparent;border:1px solid #cdcdcd;}
form div ul {display:none;}
.ticketing label, span{display:none;}
h3:hover{opacity:0.5;}

.main.scrolled{background-position:0 -220px;}
.main{position:relative;margin-bottom:1px;background-image:url(../images/index/main_3.jpg);background-size:cover;background-attachment:fixed;background-position:0 0;transition:all ease-in-out .2s;height:800px;}


.side.tab{left:-50%;}
.side{height:800px;width:650px;position:absolute;top:0;left:0;transition:all ease-out .3s;}

.ticketing {height:55%;background-color:#fff;padding-top:80px;}
.reservation_area form input{float:right;margin-bottom:16px;}

.reservation_area .icon{margin:0 auto;box-sizing:border-box;margin-bottom:32px;}
.reservation_area .icon li{width:100px;text-align:center;float:left;box-sizing:border-box;height:50px;margin-bottom: 20px;}
.re_icon1{background-position:-123px -23px;}
.re_icon2{background-position:-123px -123px;}
.re_icon3{background-position:-123px -223px;}
.re_icon4{background-position:-123px -323px;}

.reservation_area{float:right;width:400px;margin-right: 80px;}

.main_copy{height:45%;background-color:#e70012;}
.main_copy h2 {font-size:30px;font-weight:bold;color:#fff;width:400px;text-align:right;line-height:36px;padding:80px 0 0 0;text-transform:uppercase;}

.main_copy_area{float:right;margin-right: 80px;}
.main_copy .icon{float:right;margin-top:14px;}
.main_copy .icon li{width:70px;text-align:center;float:left;box-sizing:border-box;position:relative;height:60px;}
.btn_icon1{background-position: -323px -223px;}
.btn_icon2{background-position: -323px -123px}
.btn_icon3{background-position: -323px -23px}

.gnb_tab {padding:80px 0;}
.gnb_tab h3 {border-top: 1px solid #cdcdcd;border-bottom: 1px solid #cdcdcd;margin-bottom: 0px;}



.gnb_tab ul li h3{font-size:28px;line-height:110px;}
.gnb_tab ul li a{display: block;}

.gnb_tab .container ul li ul{padding:40px 0;display:none;width:100%;background-color:#fff;overflow: hidden;}
.gnb_tab .container ul li .tab_service li{margin-right:26px;width:210px;float:left;float:left;}

.news ul li{line-height:24px;}

.gnb_tab{margin-top: 20px;}
.tab_content ul {width:960px;margin:0 auto}
.tab_content ul li {}
.tab_content .box{width:220px; height:150px;background-size:cover;}
.tab_content ul li:nth-child(4){margin:0}
.tab_content .service1{background-image:url(../images/index/service_1.jpg);}
.tab_content .service2{background-image:url(../images/index/service_2.jpg);}
.tab_content .service3{background-image:url(../images/index/service_3.jpg);}
.tab_content .service4{background-image:url(../images/index/service_4.jpg);}

.tab_content h4{margin: 18px 0 8px 0;}
h4{padding:10px 0;color:#e70012;}

.icon li{background-size:50%;background-repeat:no-repeat;background-position:center center ;text-align:center;float:left;width:192px;height:auto;position:relative;}
.icon span{background-repeat:no-repeat;width:55px;height:54px;display:block;background-image:url(../images/icon.png);background-size:400px 500px;margin:auto;margin-bottom: 10px;}
.icon li a{width:100%;height:100%;display:block;font-size:11px;color:#cdcdcd;margin:auto;}



.he_icon1{background-position:-23px -23px;}
.he_icon2{background-position:-23px -323px;}
.he_icon3{background-position:-23px -223px;}
.he_icon4{background-position:-23px -123px;}
.he_icon5{background-position:-23px -423px;}
.helf ul li a{width:192px;display:block;color:#cdcdcd;}

/*footer*/

footer{background-color:#f8f8f8;margin-top:80px;}
footer .container{padding:50px 0;}
footer .site_map {float:right;}
footer .site_map li{border-left:1px solid #cdcdcd;padding-left:30px;font-size: 11px;float:left;margin-right:30px;}
footer .site_map li a{font-size: 11px;}
footer address {float:left;font-size: 11px;opacity:.5;margin-right:40px;}
footer .chart_footer {width:960px;margin: 0 auto;margin-bottom:40px;}
footer .chart_footer dl dt,.chart_footer dl dd{font-size:11px;float:left;padding:4px;opacity:.5}
