@charset "utf-8";
@import url(http://ts.daumcdn.net/custom/blog/0/606/skin/images/nanumgothic.css);

/* CSS RESET */
html,body{width:100%; height:100%}
html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,abbr,address,cite,code,del,em,img,
ins,q,strong,sub,sup,b,i,dl,dt,dd,ol,ul,li,a,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,
menu,nav,section,summary,time,mark,audio,video{margin:0; padding:0;border:0;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block}
ul,ol,li,dl{list-style:none}
blockquote,q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none}
a,a:link,a:hover,a:active {text-decoration:none}
em,i,address{font-style:normal;font-weight:normal}
table{border-collapse:collapse; border-spacing:0}
img,fieldset{border:0}
hr,legend,caption{display:none}
textarea{resize:none}
textarea,input{-webkit-border-radius:1px;-webkit-apprearance:none}
label,button,input[type:"submit"],input[type:"reset"]{cursor:pointer}
a:link    {color:#535353;text-decoration:none}
a:visited {color:#535353;text-decoration:none}
a:hover   {color:#535353;text-decoration:none}
a:active  {color:#535353;text-decoration:none}
body {overflow-y:scroll; *overflow-y:;color:#696f74;font-size:0.8em;font-family:'Nanum Gothic',돋움,dotum,굴림,gulim,sans-serif,Helvetica,AppleGothic;line-height:1.25em}
