@charset "utf-8";

.blind{position:absolute;left:-9999px;}

/* 레이아웃 */
header{
	position:relative;
	height:64px;
}

section{
	height:350px;
	background-color:#db4437;
}

/* 지메일 헤더 */
header>h1{
	position:absolute;
	left:25px;
	top:25px;
	width:74px;
	background-image:url(../images/google_logo.svg);
	background-repeat:no-repeat;
	background-size:cover;
}

header>h1>a{
	display:block;
	height:24px;
	text-indent:-9999px;
}

header>.srch-container{
	position:absolute;
	left:140px;
	top:8px;
	width:730px;
	height:46px;
	background-color:#F5f5f5;
	border-radius:3px;
}

header>.srch-container>.btn_srch,
header>.srch-container>input{
	margin:12px 0 0 20px;
	font-size:16px;
	background-color:transparent;
	border:0;
	outline:0;
}

header>.srch-container>.btn_srch{
	width:24px;
	height:24px;
	text-indent:-9999px;
	background-image:url(../images/lends.png);
	background-repeat:no-repeat;
	background-size:cover;
	cursor:pointer;
}

header>.srch-container>input{
	width:650px;
}

header>.app,
header>.bell,
header>.login{
	display:block;
	position:absolute;
	top:24px;
	width:16px;
	height:16px;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-size:cover;
}

header>.app{
	right:150px;
	background-image:url(../images/grid9.png);
}

header>.bell{
	right:110px;
	background-image:url(../images/bell.png);
}

header>.login{
	right:35px;
	top:21px;
	width:50px;
	padding:3px 0;
	color:#fff;
	text-indent:0;
	text-align:center;
	background-color:#4285f4;
	border:1px solid #4285f4;
	border-radius:3px;
}


/* 지메일 섹션 - 링크영역 */
section>.snb{
	position:relative;
	height:40px;
}

section>.snb>h2,
section>.snb>a{
	display:block;
	position:absolute;
	top:25px;
}

section>.snb>h2{
	left:25px;
	font-size:20px;
}

section>.snb>h2>.help,
section>.snb>.gmail,
section>.snb>.forum{
	color:#fff;
}

section>.snb>h2>.help{
	
}

section>.snb>.gmail{
	right:180px;
	width:80px;
	height:24px;
	text-indent:10px;
	line-height:24px;
	background-image:url(../images/gmail_login.png);
	background-repeat:no-repeat;
	background-position:right center;
	background-size:contain;
	
}

section>.snb>.forum{
	right:70px;
	height:24px;
	line-height:24px;
}


/* 아코디언 메뉴 */
#help-container{
	width:800px;
	margin:30px auto 0;
}

#help-container>.menu{
	overflow:hidden;
	background-color:#FFF;
}

#help-container>.menu:before{
	display:block;
	height:65px;
	padding-left:18px;
	content:'Gmail 고객센터에 오신 것을 환영합니다.';
	font-weight:800;
	font-size:24px;
	line-height:65px;
}

#help-container>.menu>li{
	position:relative;
	background-image:url(../images/btn_plus.png);
	background-repeat:no-repeat;
	background-position:15px 15px;
	background-color:#FFF;
	border:1px solid #ddd;
	border-bottom:none;
	z-index:200;
}

#help-container>.menu>li:hover{
	background-color:#f5f5f5;
}

#help-container>.menu>li:last-child{
	border-bottom:1px solid #ddd;
}

#help-container>.menu>li.active{
	background-color:#616161;
	background-image:url(../images/btn_minus.png);
}

#help-container>.menu>li.active>a{
	color:#fff;
	font-weight:800;
}


#help-container>.menu>li>a{
	display:block;
	height:50px;
	padding-left:60px;
	font-size:1.2em;
	line-height:50px;
}


#help-container>.menu>li>.sub{
	display:none;
	position:relative;
}

#help-container>.menu>li>.sub>ol>li:last-child{
	padding-bottom:10px;
}

#help-container>.menu>li>.sub>ol>li>a{
	margin-left:62px;
	color:#fff;
	font-size:1em;
	line-height:25px;
}


#help-container>.menu>li>.sub>.tab{
	position:absolute;
	right:0;
	width:400px;
	height:200px;
	background-repeat:no-repeat;
	background-position:0 0;
	z-index:100;
}

#help-container>.menu>li>.sub>.tab_0{
	background-image:url(../images/tab_0.png);
}

#help-container>.menu>li>.sub>.tab_1{
	height:230px;
	background-image:url(../images/tab_1.png);
}


#help-container>.menu>li>.sub>.tab_2{
	background-image:url(../images/tab_2.png);
}


#help-container>.menu>li>.sub>.tab_3{
	background-image:url(../images/tab_3.png);
}


#help-container>.menu>li>.sub>.tab_4{
	background-image:url(../images/tab_4.png);
}


#help-container>.menu>li>.sub>.tab_5{
	background-image:url(../images/tab_5.png);
}


#help-container>.menu>li>.sub>.tab_6{
	background-image:url(../images/tab_6.png);
}


#help-container>.menu>li>.sub>.tab_7{
	background-image:url(../images/tab_7.png);
}


#help-container>.menu>li>.sub>.tab_8{
	height:255px;
	background-image:url(../images/tab_8.png);
}















