@charset "utf-8";

/* 공통요소 */
.clearfix{*zoom:1}
.clearfix:after{display:block;clear:both;content:'';}
.blind{position:absolute;text-indent:-9999px;}

/* 탑메뉴 */
header>nav{
	position:relative;
	width:1000px;
	height:31px;
	margin:0 auto;	
}

	/* sns */
header>nav>ol{
	position:absolute;
	top:7px;
}

header>nav>ol>li{
	float:left;
	background-image:url(../images/sns.png);
	background-repeat:no-repeat;	
}

header>nav>ol>li.facebook{
	width:10px;	
	background-position:0 0;
}

header>nav>ol>li.twitter{
	width:18px;
	margin-left:20px;
	background-position:-168px 0;
}

header>nav>ol>li>a{
	display:block;
	height:18px;
	text-indent:-9999px;
	background-repeat:no-repeat;	
}

	/* 스팟네비게이션바 */
header>nav>.snb{
	position:absolute;
	right:0;
	top:0;
	width:367px;
}

header>nav>.snb>li{
	float:left;
	padding:0 15px;
	text-align:center;
	background-image:url(../images/ico_topmenu_bar.gif);
	background-repeat:no-repeat;
	background-position:right center;
}

header>nav>.snb>li:nth-child(4){
	background:none;
}

header>nav>.snb>li>a{
	display:block;
	height:31px;
	line-height:31px;	
}

header>nav>.snb>li.nate{	
	font-weight:800;
	background:none;
	background-color:#d82f2f;
}

header>nav>.snb>li.nate>a{
	color:#fff;
	text-decoration:none;	
}

header>nav>.snb>li.nate:hover{
	background-color:#3E4781;
}

/*-------------------------------------------------*/

/* 런처플래닛 1-1 */
#launcher>.group_1{
	position:relative;
	height:665px;
	background-image:url(../images/homepage_bg_01.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}

#launcher>.group_1>.ad_1{
	position:absolute;
	left:50%;/* 가로사이즈가 유동이므로 반드시 중앙을 기준으로 포지셔닝 좌표설정 필요 */
	top:264px;
	width:300px;
	margin-left:65px;	
}

#launcher>.group_1>.ad_1>h2{
	width:145px;
	height:30px;
	text-indent:-9999px;
	background-image:url(../images/homepage_bg_01_label_ko.png);
	background-repeat:no-repeat;
}

#launcher>.group_1>.ad_1>p{
	margin-top:30px;
	color:#fff;
	font-size:30px;
	line-height:40px;
}


	/* 글로벌네비게이션바 */
#launcher>.navwrap{
	width:100%;
	z-index:1000;
}

#launcher>.navwrap:after{
	display:block;
	height:5px;
	background-color:#666;	
	opacity:0.5;
	content:'';
}/* 아래 테두리를 투명처리하기 위한 좋은 아이디어 */

#launcher>.navwrap.fixed{
	position:fixed;	
	top:0;
}

#launcher>.navwrap>nav{
	position:relative;
	width:100%;
	height:85px;
	margin:0 auto;
	background-color:#FFF;
}

#launcher>.navwrap>nav>a.logo{
	display:block;
	position:absolute;
	left:50%;/* nav 안에 있는 모든 요소는 가로사이즈가 100%이므로 반드시 중앙을 기준으로 포지셔닝 좌표설정 필요 - 이것은 아래 테두리를 투명처리 하기위한 고육지책 */
	top:8px;
	width:70px;
	height:70px;
	margin-left:-500px;
	text-indent:-9999px;
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	background-size:70px 70px;
}

#launcher>.navwrap>nav>.gnb{
	position:absolute;
	left:50%;
	top:30px;
	height:48px;
	margin-left:-430px;
}

#launcher>.navwrap>nav>.gnb>li{
	float:left;
	background-image:url(../images/gnb.png);
	background-repeat:no-repeat;
}

#launcher>.navwrap>nav>.gnb>li:first-child{
	width:99px;
	background-position:0 0;
}

#launcher>.navwrap>nav>.gnb>li:nth-child(2){
	width:99px;	
	background-position: -99px 0;
}

#launcher>.navwrap>nav>.gnb>li:nth-child(3){
	width:62px;	
	background-position: -198px 0;
}

#launcher>.navwrap>nav>.gnb>li:nth-child(4){
	width:50px;	
	margin-left:375px;	
	background-position: -260px 0;
}

#launcher>.navwrap>nav>.gnb>li:nth-child(5){
	width:39px;	
	background-position: -310px 0;
}

#launcher>.navwrap>nav>.gnb>li:last-child{
	width:48px;	
	background-position: -349px 0;
}

#launcher>.navwrap>nav>.gnb>li:first-child:hover{
	width:99px;
	background-position:0 -26px;
}

#launcher>.navwrap>nav>.gnb>li:nth-child(2):hover{
	width:99px;	
	background-position: -99px -26px;
}

#launcher>.navwrap>nav>.gnb>li:nth-child(3):hover{
	width:62px;	
	background-position: -198px -26px;
}

#launcher>.navwrap>nav>.gnb>li:nth-child(4):hover{
	width:50px;	
	background-position: -260px -26px;
}

#launcher>.navwrap>nav>.gnb>li:nth-child(5):hover{
	width:39px;	
	background-position: -310px -26px;
}

#launcher>.navwrap>nav>.gnb>li:last-child:hover{
	width:48px;	
	background-position: -349px -26px;
}

#launcher>.navwrap>nav>.gnb>li:first-child.on{
	width:99px;
	background-position:0 -26px;
}

#launcher>.navwrap>nav>.gnb>li:nth-child(2).on{
	width:99px;	
	background-position: -99px -26px;
}

#launcher>.navwrap>nav>.gnb>li:nth-child(3).on{
	width:62px;	
	background-position: -198px -26px;
}

#launcher>.navwrap>nav>.gnb>li:nth-child(4).on{
	width:50px;	
	background-position: -260px -26px;
}

#launcher>.navwrap>nav>.gnb>li:nth-child(5).on{
	width:39px;	
	background-position: -310px -26px;
}

#launcher>.navwrap>nav>.gnb>li:last-child.on{
	width:48px;	
	background-position: -349px -26px;
}

#launcher>.navwrap>nav>.gnb>li>a{
	display:block;
	height:26px;
	text-indent:-9999px;
}

#launcher>.navwrap>nav>.dnld{
	display:block;
	position:absolute;	
	left:50%;
	top:50%;
	width:196px;
	height:54px;
	margin:-27px 0 0 -98px;
	text-indent:-9999px;
	background-image:url(../images/btn_gnb_dwn.gif);
	
}

	/* 언어선택 */

#launcher>.navwrap>nav>.lang{
	position:absolute;
	left:50%;
	top:30px;
	width:107px;
	height:26px;
	margin-left:397px;
	background-image:url(../images/bg_slct_lang.gif);
	z-index:100;
}


#launcher>.navwrap>nav>.lang>summary{
	width:107px;
	height:16px;
	margin:5px 0 0 10px;
	text-indent:-9999px;
	background-image:url(../images/slct_txt_kr.gif);
	background-repeat:no-repeat;
	outline:0;
	cursor:pointer;
}

#launcher>.navwrap>nav>.lang>ol{
	position:absolute;
	top:30px;
	width:105px;
	background-color:#FFF;
	border:1px solid #dadada;
	border-top:none;
	border-bottom:none;
	border-radius:6px;
}

#launcher>.navwrap>nav>.lang>ol>li{
	position:relative;
	height:25px;
	background-repeat:no-repeat;	
}

#launcher>.navwrap>nav>.lang>ol>li:first-child{
	background-image:url(../images/bg_slct_lang_contop.png);
	background-position:center top;
}

#launcher>.navwrap>nav>.lang>ol>li:last-child{
	background-image:url(../images/bg_slct_lang_conbot.png);
	background-position:center bottom;
}

#launcher>.navwrap>nav>.lang>ol>li>a{
	display:block;
	position:absolute;
	left:9px;
	top:5px;
	width:52px;
	height:16px;
	text-indent:-9999px;	

	background-repeat:no-repeat;	
}

#launcher>.navwrap>nav>.lang>ol>li:first-child>a{
	background-image:url(../images/slct_txt_kr.gif);	
}


#launcher>.navwrap>nav>.lang>ol>li:last-child>a{
	background-image:url(../images/slct_txt_en.gif);	
}


/* 런처플래닛 1-2 */
#launcher>.group_2{
	position:relative;
	height:700px;	
	background-image:url(../images/homepage_bg_02.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
}


	/* 광고문구-1 */
#launcher>.group_2>.ad_2{
	position:absolute;
	left:50%;/* 가로사이즈가 유동이므로 반드시 중앙을 기준으로 포지셔닝 좌표설정 필요 */
	top:200px;
	width:300px;
	margin-left:-420px;	
}


#launcher>.group_2>.ad_2>h2{
	width:151px;
	height:30px;
	text-indent:-9999px;
	background-image:url(../images/homepage_bg_02_label_ko.png);
	background-repeat:no-repeat;	
}


#launcher>.group_2>.ad_2>p{
	
	color:#2c3a3a;
	font-size:30px;
	line-height:40px;
}


#launcher>.group_2>.ad_2>p>span{
	display:block;
	margin-top:30px;
}

	/* 슬라이드 배너 */
#tip{
	overflow:hidden;
	position:absolute;
	left:50%;
	width:291px;
	height:517px;
	margin:90px 0 0 -146px;	
}

#tip>.tip-container{
	position:absolute;
	left:0;
	top:0;
	width:873px;
	height:517px;
}

#tip>.tip-container>li{
	float:left;
	width:291px;
	height:517px;
	text-indent:-9999px;
	background-repeat:no-repeat;
}


#tip>.tip-container>li:first-child{
	background-image:url(../images/homepage_bg_02_slide_img_01.png);
}


#tip>.tip-container>li:nth-child(2){
	background-image:url(../images/homepage_bg_02_slide_img_02.png);
}


#tip>.tip-container>li:last-child{
	background-image:url(../images/homepage_bg_02_slide_img_03.png);
}




	/* 인디케이터 컨테이너 - 탭메뉴로 구현 */
#indicator-container{
	position:absolute;
	left:50%;
	top:300px;
	margin-left:250px;
}

#indicator-container>.indicator{
	position:relative;
	width:350px;
	height:120px;
}

#indicator-container>.indicator>p{
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:340px;
	height:68px;
	color:#2c3a3a;
	font-size:26px;
	line-height:35px;
}

#indicator-container>.indicator>p.on{
	display:block
}

	/* 인디케이터 */
#indicator-container>.indicator>.tip-pagination{
	position:absolute;
	top:90px;
	width:75px;
	height:16px;
}

#indicator-container>.indicator>.tip-pagination>li{
	float:left;
	width:16px;
	margin-right:9px;
	background-image:url(../images/navigation_spritesheet.png);
	background-position: -10px -10px;
}

#indicator-container>.indicator>.tip-pagination>li.on{
	background-position: -10px -46px;
}

#indicator-container>.indicator>.tip-pagination>li>a{
	display:block;
	height:16px;
	text-indent:-9999px;
}

	/* 동영상 사용 TIP 보기 */
#launcher>.group_2>.showtip{
	position:absolute;
	left:50%;
	top:500px;
	margin-left:250px;
}


#launcher>.group_2>.showtip>span{
	display:block;
	margin-bottom:20px;
	color:#2c3a3a;
	font-size:20px;
}

#launcher>.group_2>.showtip>button{
	width:136px;
	height:53px;
	text-indent:-9999px;
	background-color:#e9e8e8;
	background-image:url(../images/homepage_bg_02_tip_view_btn.png);
	background-repeat:no-repeat;
	border:0;
	outline:0;
	cursor:pointer;
}


/*-------------------------------------------------*/

/* 런처플래닛 2-1 */
/* 런처플래닛 3-1 공통*/
#srvcard>.group_3,
#theme>.group_5{
	position:relative;
	height:700px;
	background-image:url(../images/bg_sv.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}


#srvcard>.group_3>.ad_3,
#theme>.group_5>.ad_5{
	position:absolute;
	left:50%;
	top:100px;
	width:500px;
	margin-left:-500px;
}


#srvcard>.group_3>.ad_3>h2,
#theme>.group_5>.ad_5>h2{
	width:105px;
	height:30px;
	text-indent:-9999px;
	background-image:url(../images/homepage_bg_03_label_ko.png);
	background-repeat:no-repeat;	
}


#srvcard>.group_3>.ad_3>p>strong,
#theme>.group_5>.ad_5>p>strong{
	display:block;
	margin-top:30px;
	color:#000;
	font-weight:400;
	font-size:45px;
	line-height:60px;
	letter-spacing:-1px;
}


#srvcard>.group_3>.ad_3>p>em,
#theme>.group_5>.ad_5>p>em{
	display:block;
	margin-top:10px;
	color:#02a15b;
	font-size:30px;
	line-height:40px;
}


#srvcard>.group_3>.ad_3>p>span,
#theme>.group_5>.ad_5>p>span{
	display:block;
	margin-top:10px;
	color:#b1b1b1;
	font-size:20px;
	line-height:28px;
	letter-spacing:-1px;
}



#srvcard>.group_3>a.syrup_card_arr,
#theme>.group_5>a.theme_arr{
	display:block;
	position:absolute;
	left:50%;
	bottom:0;
	width:170px;
	height:75px;
	margin-left:-85px;
	text-indent:-9999px;
	background-image:url(../images/card/card_arr_1.png);
	background-repeat:no-repeat;
}


/* 런처플래닛 2-2 */
#srvcard>.group_4{
	height:700px;
	background-color:#97cb35;
}

#srvcard>.group_4>.container{
	width:1130px;
	margin:0 auto;
	padding-top:80px;
}
#srvcard>.group_4>.container>.screen{
	float:left;
	width:295px;
	height:497px;
}

#srvcard>.group_4>.container>.screen>img.viewport{
	width:100%;
	box-shadow: -11px 11px 0px -2px rgba(222,222,222,.5);
}

#srvcard>.group_4>.container>.cont{
	float:left;
	position:relative;
	width:785px;
	height:381px;
	margin-left:50px;
	margin-top:15px;
}

#srvcard>.group_4>.container>.cont>h2.headline{
	color:#fff;
	font-weight:500;
	font-size:42px;
	letter-spacing:-1px;
}

#srvcard>.group_4>.container>.cont>p.explain{
	margin-top:25px;
	color:#efefef;
	font-weight:400;
	font-size:20px;
	line-height:30px;
}

#srvcard>.group_4>.container>.cont>.cardlist{
	position:absolute;
	top:150px;
}

#srvcard>.group_4>.container>.cont>.cardlist>li{
	float:left;
	width:76px;
	height:76px;
	margin:0 15px 40px 0;
	border:4px solid transparent;
	transition:all 0.3s ease;
}

#srvcard>.group_4>.container>.cont>.cardlist>li:nth-child(8n){
	margin-right:0;
}

#srvcard>.group_4>.container>.cont>.cardlist>li:hover{
	border-color:white;
}


#srvcard>.group_4>.container>.cont>.cardlist>li>a{
	display:block;
	height:76px;
	
}

#srvcard>.group_4>.container>.cont>.cardlist>li>a>img{
	width:100%;
	vertical-align:top;
}

#srvcard>.group_4>.container>.cont>.cardlist>li>a>span.title{
	margin-top:10px;
	display:block;
	color:#fff;	
	font-weight:600;
	text-align:center;
}
/*-------------------------------------------------*/


/* 런처플래닛 3-1 */
#theme>.group_5{
	background-image:url(../images/homepage_bg_05.png);
}

#theme>.group_5>.ad_5{
	top:140px;
}

#theme>.group_5>.ad_5>h2{
	background-image:url(../images/homepage_bg_05_label_ko.png);	
}

#theme>.group_5>a.theme_arr{
	background-image:url(../images/bg_arr_lp.png);
}

/* 런처플래닛 3-2 */
#theme>.group_6{
	position:relative;
	height:700px;
	background-color:#222;
	background-image:url(../images/bg_theme.png);
	background-repeat:no-repeat;
	background-position:center top;
}

#theme>.group_6>h2.themesort{
	position:absolute;
	left:50%;  
	top:210px;
	width:92px;
	height:30px;
	margin-left:-350px;
	text-indent:-9999px;
	background-image:url(../images/ico_theme1.gif);
	background-repeat:no-repeat;
	background-position:center center;
}

#theme>.group_6>h3.title{  
	position:absolute;
	left:50%;  
	top:260px;
	width:200px;
	margin-left:-403px;
	color:#fff;
	font-size:20px;
	text-align:center;
}

#theme>.group_6>ul{
	position:absolute;
	left:50%;  
	top:310px;	
	margin-left:-410px;
	z-index:300;
}

#theme>.group_6>ul>li{
	width:197px;
	margin-bottom:5px;
}

#theme>.group_6>ul>li>a{
	display:block;
	width:100%;
	height:55px;
	text-indent:-9999px;
	background-repeat:no-repeat;
}

#theme>.group_6>ul>li:first-child>a{
	background-image:url(../images/btn_tstore.png);	
}


#theme>.group_6>ul>li:last-child>a{
	background-image:url(../images/btn_google.png);	
}
#theme>.group_6>p{
	position:absolute;
	left:50%;  
	top:150px;	
	margin-left:210px;
}
#theme>.group_6>p>strong{
	color:#2cdfc6;
	font-weight:400;
	font-size:42px;
	line-height:55px;	
}

#theme>.group_6>p>span{
	display:block;
	margin-top:10px;
	color:#b1b1b1;
	font-size:20px;
}

#theme>.group_6>ol{
	position:absolute;
	left:50%;  
	top:390px;	
	margin-left:210px;
}

#theme>.group_6>ol>li{
	width:197px;
	margin-bottom:5px;
}

#theme>.group_6>ol>li>a{
	display:block;
	height:55px;
	text-indent:-9999px;
	background-repeat:no-repeat;
}

#theme>.group_6>ol>li:first-child>a{
	background-image:url(../images/thema_tstore_btn.png);	
}


#theme>.group_6>ol>li:last-child>a{
	background-image:url(../images/thema_google_btn.png);	
}


#theme>.group_6>.slides{ 
	overflow:hidden; 
	position:relative;  
	width:100%;   
	height:700px; 
}

#theme>.group_6>.slides>.slides-container{   
	position:absolute;  
	top:120px;  
	left:50%;  
	width:243px;  
	height:426px;  
	margin-left:-135px; 
	padding:50px 14px 56px 14px;   
	background-color:none;  
	background-image:url(../images/phone.png);  
	background-repeat:no-repeat;  
	background-position: 0px 0px;
	z-index: 200;  
}

#theme>.group_6>.slides>.slides-container>.slides-control{ /*뷰포트*/ 
	overflow:hidden;  
	position:relative;  
	width:243px;  
	height:426px;
}

#theme>.group_6>.slides>.slides-container>.slides-control>li{  
	position:absolute;  
	top:0px;  
	width:243px;  
	height:426px;
}


/*========================================================================*/


#theme>.group_6>.slides>.slides-pagination-container{   
	position:relative;  
	top:537px;  
	left:50%;
	height:115px;
	z-index:150;  
}

#theme>.group_6>.slides>.slides-pagination-container>.slides-pagination{  
	position:absolute;  
	top:0px;  
	left:0px;  
	height:115px;
}


#theme>.group_6>.slides>.slides-pagination-container>.slides-pagination>li{  
	position:absolute;
	top:0px;/*left 좌표값은 동적으로 지정*/
	width:114px;	
}

#theme>.group_6>.slides>.slides-pagination-container>.slides-pagination>li>a{
	display:block;
	height:115px;	
}

/*========================================================================*/


#etc>.group_7{
	height:500px;
}

#etc>.group_7>h2{
	margin:100px 0;
	color:#6fbff2;
	font-weight:600;
	font-size:40px;
	text-align:center;
}

#etc>.group_7>ul{
	width:1260px;
	margin:0 auto;
}

#etc>.group_7>ul>li{
	float:left;
	width:420px;
}

#etc>.group_7>ul>li>p{
	width:212px;	
	height:161px;
	margin:0 auto;
	text-indent:-9999px;	
	background-repeat:no-repeat;
	background-size:cover;
}


#etc>.group_7>ul>li>a{
	display:block;
	width:128px;
	height:35px;
	margin:50px auto 0;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-size:cover;
}


#etc>.group_7>ul>li:first-child>p{
	background-image:url(../images/homepage_bg_07_img_01_ko.png);
}


#etc>.group_7>ul>li:first-child>a{
	background-image:url(../images/homepage_bg_07_btn_01_ko.png);
}


#etc>.group_7>ul>li:nth-child(2)>p{
	background-image:url(../images/homepage_bg_07_img_02_ko.png);
}

#etc>.group_7>ul>li:nth-child(2)>a{
	background-image:url(../images/homepage_bg_07_btn_02_ko.png);
}


#etc>.group_7>ul>li:last-child>p{
	background-image:url(../images/homepage_bg_07_img_03_ko.png);
}

#etc>.group_7>ul>li:last-child>a{
	background-image:url(../images/homepage_bg_07_btn_03_ko.png);
}




/*========================================================================*/


footer{
	height:140px;
	padding-top:30px;
	background-color:#222;
}

footer>.footerwrap{
	position:relative;
	width:960px;
	margin:0 auto;
}

footer>.footerwrap>.like{
	width:91px;
	height:22px;
	text-indent:-9999px;
	background-image:url(../images/like.png);
}

footer>.footerwrap>.logo{
	display:block;
	position:absolute;
	left:10px;
	top:40px;
	width:106px;
	height:54px;
	text-indent:-9999px;
	background-image:url(../images/techx_logo.png);
	background-size:cover;
}

footer>.footerwrap>.fnb{
	position:absolute;
	left:160px;
	top:40px;
}

footer>.footerwrap>.fnb>li{
	float:left;
	margin-left:20px;
	padding-right:20px;
	background-image:url(../images/ico_foot_bar.gif);
	background-position:right center;
	background-repeat:no-repeat;
}

footer>.footerwrap>.fnb>li:first-child{
	margin-left:0;
	width:87px;
	
}

footer>.footerwrap>.fnb>li:nth-child(2){
	width:43px;
	
}

footer>.footerwrap>.fnb>li:last-child{
	width:126px;
	background:none;
}

footer>.footerwrap>.fnb>li>a{
	display:block;
	height:15px;
	text-indent:-9999px;
	background-repeat:no-repeat;
}


footer>.footerwrap>.fnb>li:first-child>a{
	background-image:url(../images/foot_menu1.gif);
}

footer>.footerwrap>.fnb>li:nth-child(2)>a{
	background-image:url(../images/foot_menu2.gif);
}

footer>.footerwrap>.fnb>li:last-child>a{
	background-image:url(../images/foot_menu3.gif);
}

footer>.footerwrap>.address{
	position:absolute;
	left:160px;
	top:70px;
}

footer>.footerwrap>.address>span{
	display:block;
	margin-bottom:3px;
}

footer>.footerwrap>h2{
	position:absolute;
	right:0;
	width:80px;
	height:80px;
	text-indent:-9999px;
	background-image:url(../images/foot_logo.png);
	background-size:cover;	
}

#mypopup_tfolder .tfolder_cont h3{
	padding-top:15px;
}

#mypopup_tfolder .tfolder_cont p{
	width:570px;
	height:280px;
	margin:5px auto 0;
	background-image:url(../images/t_search.png);
	background-repeat:no-repeat;
	background-size:cover;
}

#mypopup_tfolder .tfolder_cont p span{
	position:absolute;
	left:-9999px;
}




