@charset "utf-8";

.popup_container {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(94, 110, 141, 0.9);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in;
}
.popup_container.on {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease-in, visibility 0s ease-in 0.3;
}

.popup_container .popup {
  position: relative;
  width: 524px;
  margin: 160px auto 0;
  text-align: center;  
  background:none;
  border-radius: 5px 5px 8px 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  
  transform: translate(0,-40px) scale(1,0.1);/*요소의 중앙을 기준으로 위로 -40만큼 위치에서부터 내려옴 - 위쪽 트랜지션 설정과는 별개임 */
  transition-property: transform;
  transition-duration: 0.3s;
}

.popup_container.on .popup {
  transform: translate(0,0) scale(1,1);
}


/* 팝업창 닫기 X버튼 ------- 시작 */
.popup_container .clse_popup {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
}
.popup_container .clse_popup::before, .clse_popup::after {  
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
  content: '';
}

.popup_container .clse_popup::before {  
  left: 8px;
  transform: rotate(45deg);
}

.popup_container .clse_popup::after {
  right: 8px;
  transform: rotate(-45deg);
}
/* 팝업창 닫기 X버튼 ------- 끝 */
